.main{
    min-height: 100vh;
    font-size: 5rem;
    padding: 10px;
    display: grid;

    background-color: beige;
    grid-template-columns: 300px 200px 350px;
    grid-template-rows: 200px 250px;
    grid-gap: 10px;

    font-family: fantasy;
    
}

div{
    background-color:blanchedalmond ;
}
#dos{
    display: grid;
    grid-template-areas: 
    "h h h"
    "m m n" 
    "o o p"
    "o o p" 
    "f f f"
    ;
    background-color: aqua;
}
.grid-1{
    grid-area: h;
}
.grid-2{
    grid-area: m;
}
.grid-3{
    grid-area: n;
}
.grid-4{
    grid-area: 0;
}
.grid-5{
    grid-area: h;
}
.grid-6{
    grid-area: f;
}



#dos div{
    background-color: blue;
    height: 200px;
}